.page-footer {
    background: rgb(112, 130, 56);
    margin-top: 8%;
    padding: 3em 0 2em 0;
}

.shoptitle {
    font-family: fantasy;
}

.col {
    margin-top: 5%;
}

.content {
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.insta {
    margin-bottom: 3%;
    height: 40px;
}

.social {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon {
    margin: 0;
    padding: 0;
}

.socialsite {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialtag {
    text-decoration: none;
    color: black;
}

.socialtag:hover {
    color: bisque;
}

.socialtag1 {
    max-width: 5%;
    margin-left: 2%;
}

@media only screen and (max-width: 800px) {
    .socialtag1 {
        max-width: 15%;
    }
}

.socialtag2 {
    max-width: 8%;
    margin-bottom: 2%;
}

