.img-cont {
    height: 220px;
    width: 220px;
    margin: auto;
    margin-top: 5%;
}

@media screen and (max-width:606px) {
    .img-cont {
        width: 75%;
        height: 35%;
    }
}

.container-fluid {
    display: inline-block;
    width: 32%;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 5%;
}

@media screen and (max-width:992px) {
    .container-fluid {
        width: 48%;
    }
}

@media screen and (max-width:604px) {
    .container-fluid {
        width: 98%;
    }
}

h1{
    margin-top: 20%;
    text-align: center;
}
h3 {
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
}
p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-secondary {
    width: 33%;
    margin-left: 33%;
    margin-right:auto;
    background: rgb(1, 53, 51);
    color: bisque;
}

@media screen and (max-width: 710px) {
    .btn-secondary {
        width: 40%;
        margin-left: 30%;
    }
}

.btn:hover {
    background:rgb(136, 136, 88);
    color: beige;
}

.card {
    font-family: 'Playfair Display', serif;
}

.product_name {
    font-family: fantasy;
}


