a.nav-item {
    margin: 10px;
    padding: 10px;
    color: bisque;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    transition: 1s ease all;
}

.fixed-top {
    position: static;
}

.navbar {
    background: rgb(1, 53, 51);
    width: 100%;
}

.c-logo {
    width: 55px;
}