.nav-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.fixed-top {
    position: static;
}

.navbar {
    background: rgb(112, 130, 56);
}

